.page {
    min-width: 320px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    background-color: #2A2C2F;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    
}

/* section, div, p, h1, h2, h3, ul, li, a {
    outline: 1px red dashed;
} */