.places {
   max-width: 984px;
   display: flex;
   flex-direction: column;
   padding: 92px 0;
   gap: 80px;
}

@media screen and (max-width: 1279px) {
   .places {
      padding: 91px 0;
       
   }
}

@media screen and (max-width: 1023px) {
   .places {
      padding: 88px 0 90px 0;
      gap: 69px;
   }
}

@media screen and (max-width: 767px) {
   .places {
      padding: 88px 0 90px 0;
      gap: 50px;
   }
}