.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    text-align: center;
    margin: 0 auto 245px;
    z-index: 10;
   
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        min-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto 33px;
        
    }
}