.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}

.header__link:last-of-type {
    margin: 0;
}

.header__link:active {
    text-decoration: underline;
}

.header__link:hover {
    opacity: 0.8;
}