.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 720px;
    height: 200px;
    margin: 56px 160px 32px;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        margin: 50px 160px 32px;
    }
    
}