.footer__links {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 18px;
    
}

@media screen and (max-width: 1279px) {
    .footer__links {
        gap: 19px;
        
    }
}