.place__paragraph {
    margin: 0 0 26px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        
        
    }
        
}