.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    text-align: end;
    
}

@media screen and (max-width: 1279px) {
    .footer__copyright {
        margin: 4px 3px 0;
        
    }
}