.cover {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
    z-index: 0;
    
          
}

.cover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, 1);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 500ms ease-in-out;
  }

.cover:hover:before {
    opacity: 0.8;
  }

@media screen and (max-width: 1279px) {
    .cover {
        min-width:  1024px;
        height: 640px;
        
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-width: 768px;
        height: 480px;
        margin-bottom: 86px;
            
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-width: 320px;
        height: 200px;
        margin-bottom: 86px;
            
    }
}
