.cover {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../images/bg_baykal.jpg);
    background-size: 100% 100%;
    margin-bottom: 92px;
    
}

@media screen and (max-width: 1279px) {
    .cover {
        width:  1024px;
        height: 640px;
        
    }
}
