.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    text-align: center;
    margin: 245px auto 32px;
    z-index: 10;
    
}

@media screen and (max-width: 1279px) {
    .cover__title {
        margin: 197px auto 32px;
        
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        margin: 113px auto 32px;
        
    }
}