.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 48px 24px;
}

@media screen and (max-width: 1279px) {
    .container {
        max-width:  1024px;
        
    }
}
      

