.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr max-width;
    gap: 48px 40px;
    
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-template-rows: 1fr max-width;
        gap: 48px 32px;
        
    }
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: 1fr max-width;
        gap: 48px 28px;
        
    }
}